#root{
  touch-action:pan-x pan-y;
  position: relative;
}
@import "tailwindcss";
*{
  font-family:Poppins, sans-serif;
}
@theme {
  --font-poppins: Poppins, sans-serif;
  --font-inter: Inter, sans-serif;
}
